<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admin</title>
    <link rel="icon" type="image/png" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/admin.css">
</head>
<body>
    <h1>Admin Page</h1>
    <table>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Date & Time</th>
            <th>Action</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Player}}</td>
            <td>{{.Points}}</td>
            <td>{{.DateTime}}</td>
            <td>
                <a href="/delete/{{.Player}}">Delete</a>
            </td>
        </tr>
        {{end}}
    </table>
</body>
</html>
