<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="icon" type="image/png" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../static/credits.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/animation.css">
</head>
<body class="credits body">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    
    <div class="credits hud">
        <div class="credits developer">
            <h1>Game Developer</h1>
            <p>HOUBLOUP Alexy</p>
            <p>LIENARD Mathieu</p>
            <p>DORGES Guillaume</p>
            <p>AMSELLEM--BOUSIGNAC Ryan</p>
        </div>

        <div class="credits producer">
            <h1>Duck Games Team</h1>
            <p>MORGADO Luca</p>
            <p>LEMAITRE Thomas</p>
            <p>VANDERCOILDEN Sambre</p>
        </div>

        <div class="logo logo">
            <img src="img/duckgames.png" alt="duck games">
        </div>
   
    </div>
</div>
</body>
</html>
