<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../static/animation.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/register.css">
</head>
<body class="register body">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="register hud">
        <div class="register box">
            <h1>Register</h1>
            <form action="/createuser" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <div style="color: red;">{{.Message}}</div>
                <input type="submit" value="Register">
                <p>Already have an account? <a href="/">Login here</a>.</p>
            </form>
        </div>
        <div class="logo logo">
            <img src="img/duckgames.png" alt="duck games">
        </div>
    </div>
</body>
</html>
